body {
    margin-left: 5%;
}

/* 完成的样式，字体灰色、中划线、背景浅蓝色 */
.done {
    color: gray;
    text-decoration: line-through;
    background: lightblue;
}

/* button {
    display: block;
} */
/* 大标题：todo，字体、加粗、颜色、居中，4倍大小 */
h1 {
    font-family: Bell MT, Sans-serif;
    font-weight: bold;
    color: #ffc0c0;
    text-align: center;
    font-size: 400%;
    margin-left: -10%;
}

/* input框，居中，高2em，里面的字体大小22px，和button位于同一行 */
#id-input-add {
    width: 80%;
    height: 2em;
    font-size: 22px;
    display: inline;
}

/* button的位置、颜色、大小 */
.btn-input {
    cursor: pointer;
    outline: none;
    color: #43b0f7;
    font-size: 35px;
    background: transparent;
    border-color: transparent;
    display: inline;
    position: absolute;
    right: 20%;
    height: 5%
}

/* todo分类的位置，需要调整 */
ul {
    display: inline-block;
    margin-right: 20%;
    float: right;
}

/*  */
ul li {
    display: inline-block;
    border: 1px solid red;
    margin-right: -8px;
    padding: 0px;
}

.todo-cell {
    border-bottom-style: 1px solid;
}

/* 完成按钮的设置 */
.complete {
    color: #e41616;
    font-size: 26px;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

/* 删除按钮的设置 */
.delete {
    color: #e41616;
    font-size: 26px;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin-right: 25%;
    float: right;
}